//variables
$general-color: black;

//mixings
@mixin transition($time) {
    transition: $time -webkit-transform;
    transition: $time transform;
    transition: $time transform, $time -webkit-transform;
}

@mixin display($display,$justify) {
    display: $display;
    justify-content: $justify;
}

.characters {
    margin-top: 2.5rem;
    @include transition(450ms);
    font-size: 0;
    white-space: nowrap;
    padding-bottom: 10px;
    overflow-y: hidden;
}
.characters__list {
    margin-top: 4rem;
}
.characters__title {
    padding-left: 3rem;
  

}

.characters__filters {
    @include display(flex,space-evenly);
  
}


.charactersComics__filter {
    background-color: rgb(51, 47, 47);
    width:250px;
    border-radius: 20px;
    padding: 0.5rem;
    
}

.orderBy__option {
    color: $general-color !important;
}

.characters__input {
width: 70%;
height: 20px;
border: none;
outline-width: 0;
color: whitesmoke !important;
}

@media screen and (max-width: 600px) {


    .characters__filters {
        display: flex;
        flex-direction: column;
        align-items: center;
       margin-top: -3rem;
        height: 160px;
    }
}